header {
  margin-top: 120px;
  /* Add a top margin to avoid content overlay */
  background-color: #d19600;
  background-image: url("../images/asfalt-dark.png");
  align-items: center;
  display: flex;
  flex-direction: column;
}

img {
  padding-top: 5px;
}

h2 {
  margin-block-start: 0;
}