nav {
  background: #4056A1;
  color: #FFFFFF;
  height: 120px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  padding: 1.5em;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;

}


#logo {
  font-family: 'Bungee', cursive;

}
#writeTweet {
  display: flex;
  flex-flow: column;
}
#arrowDown {
  color: orange;
  padding-left: 50%;
}

#writeTweet:hover #arrowDown{
  transform: translateY(10px);
}