.new-tweet {
  padding-top: 5px;
}

input {
  background-color: #4152a1;
  color: white;
  font-family: 'Bungee',
    cursive;
}
textarea {
  background: transparent;
  border: none;
  border-bottom: 4px solid #545149;
  width: 100%;
}

::placeholder {
  padding: 10px;
}

textarea:focus,
input:focus {
  outline: none;
}

.counter {
  float: right;
}

.counter.red {
  color: red;
}

.counter.grey {
  color: #545149;
}
